<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="copyright text center footer">
        <p>&copy; Copyright 2017 zard-forever.com 
            <span><a href="#">联系我们</a></span>
            <span><a href="#">常见问题</a></span>
            <span><a href="#">意见反馈</a></span>
            <span><a href="#">微信公众号</a></span>
            <span><a href="#">友情链接</a></span>
        </p>
    </div>

    
   
    <script>
      new WOW().init();
    </script>
  </body>
</html>
