{include file="common_head" /}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Portfolio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link href="__STATIC__/index/mv/css/bootstrap.min.css" >
    <link rel="stylesheet" href="__STATIC__/index/assets/css/style.css" >
    <link rel="stylesheet" href="__STATIC__/index/mv/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/music/css/index.css">
    <script src="__STATIC__/index/mv/js/index.js"></script>
    <script>
        window.onresize = function(){
                // alert( );
                if(document.body.clientWidth<=1000){
                   document.getElementById("search-div-id").style.display="none"; 
                   document.getElementById("font-head").style.display="none"; 
                }else{
                    document.getElementById("search-div-id").style.display="block";
                    document.getElementById("font-head").style.display="block";
                }
            }
    </script>
    <style >
        
    </style>
  </head>  
<body>
<hr>
<div class="container" id="search">  
    <div class="order-div" style="width:540px">
        <div class="select-merge col-sm-0" >
            <input type="radio" name="mv_select" id="select1" checked="checked">
            <label for="select1">时间排序</label><br>
             <input type="radio" name="mv_select" id="select2">
            <label for="select2">拼音排序</label>
        </div>
        <div class="select-merge">
            <input type="radio" name="mv_select" id="select3">
            <label for="select3">专辑排序</label><br>
            <input type="radio" name="mv_select" id="select4">
            <label for="select4">人气排序</label>
        </div>
        <div class="select-merge">
           <input type="radio" name="mv_select" id="select5">
            <label for="select5">单曲</label>
        </div>
    </div>
    <div class="search-div" id="search-div-id">
        <input type="text">
        <button class="search-button">
            <div class="glyphicon glyphicon-search"></div>
        </button>
    </div>
</div>
<hr>

<div class="container" style="margin:0px;width:100%">
    <div class="row" style="width:100%">
        <div class="col-md-3 col-sm-4 col-xs-12  div-common">
            <a href="javascript:;" target="_blank">
                <div class="music-module">
                    <div class="music-body">
                        <div class="music-body-left">
                            もっと近くで君の横顔见ていたい<br>
                            zard
                        </div>
                        <div class="music-body-rightall">
                            <div class="music-body-hover glyphicon glyphicon-play-circle"></div>
                            <img src="__STATIC__/image/2.jpg" alt="zard" class="music-body-right">
                        </div>
                    </div>
                    <div class="music-foot">もっと近くで君の横顔见ていたい</div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 div-common">
            <a href="javascript:;" target="_blank">
                <div class="music-module">
                    <div class="music-body">
                        <div class="music-body-left">
                            もっと近くで君の横顔见ていたい<br>
                            zard
                        </div>
                        <div class="music-body-rightall">
                            <div class="music-body-hover glyphicon glyphicon-play-circle"></div>
                            <img src="__STATIC__/image/2.jpg" alt="zard" class="music-body-right">
                        </div>
                    </div>
                    <div class="music-foot">もっと近くで君の横顔见ていたい</div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 div-common">
            <a href="javascript:;" target="_blank">
                <div class="music-module">
                    <div class="music-body">
                        <div class="music-body-left">
                            もっと近くで君の横顔见ていたい<br>
                            zard
                        </div>
                        <div class="music-body-rightall">
                            <div class="music-body-hover glyphicon glyphicon-play-circle"></div>
                            <img src="__STATIC__/image/2.jpg" alt="zard" class="music-body-right">
                        </div>
                    </div>
                    <div class="music-foot">もっと近くで君の横顔见ていたい</div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 div-common">
            <a href="javascript:;" target="_blank">
                <div class="music-module">
                    <div class="music-body">
                        <div class="music-body-left">
                            もっと近くで君の横顔见ていたい<br>
                            zard
                        </div>
                        <div class="music-body-rightall">
                            <div class="music-body-hover glyphicon glyphicon-play-circle"></div>
                            <img src="__STATIC__/image/2.jpg" alt="zard" class="music-body-right">
                        </div>
                    </div>
                    <div class="music-foot">もっと近くで君の横顔见ていたい</div>
                </div>
            </a>
        </div>

    </div>
</div>
<hr>

<div style="text-align:center">你好</div>
<hr>
<hr>
<div style="clear:both;height:30px" ></div>
</body>
</html>
<!---- Footer ---->
{include file="common_foot" /}